#loading{
	position: absolute;
	z-index:11;
}
#superman{
	position:absolute;
	width:100%;
	top: -50px;
	z-index: 15;
}

a {
  color: #CC0029;
  background-color: transparent;
  text-decoration: none;
}

#lightDiv img{
	display: block;
}

#Light{
	position: relative;

	top:-129px;
	margin-left: 13.5%;/*170px*/

	width:50%;
	/*top: 255px;
	left:  335px;*/
}

#LightStick{
	position: relative;
	left:43%;
	width:4%;
	top: -55px;
}
/*#LightStick{
	position: absolute;
	left:43%;
	width:4%;
}*/


.portraits img{

  padding: 5px;
  width: 15%;/*150px*/
}

.portraits{
	display: inline;
	margin: 10px;
	z-index: 5;

	position: relative;
	top: -25px;

	/*filter: brightness(60%);*/
}
#meetTeam{
	position: relative;

	margin-top: -47%;

	/*margin-top:  205px;
    margin-left: 200px;*/
    margin-right: auto;
    width: 100%;
    /*width: 950px;*/
	z-index: 8;
}


.teamParagraph{
	margin-top: -3%;
	/*margin-top:  400px;*/
}


/* light movement   */
#Light {
    transform-origin:  64.5% 13%;/* x ytransform-origin: 67% 21%;  lower x is to the left higher y to the top*/
    touch-action: none;
}